body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 1rem;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0;

}

.subtitle {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

nav button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

nav button.active {
    font-weight: bold;
    color: #c47a5a;
    border-bottom: 2px solid #c47a5a;
}

main {
    display: flex;
    align-items: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    max-width: 1000px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

main.fade-out {
    opacity: 0;
}

main img {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
}

.text h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
}

.summary {
    font-size: 0.8em;
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
}

main .learn-more {
    background-color: #FBE0DA;   /* new button color */
    color: #000;                 /* black text for contrast */
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

main .learn-more:hover {
    background-color: #f4cfc5;   /* slightly darker on hover */
    transform: scale(1.05);
}
